{% extends 'components/base.html' %}
{% load tailwind_filters %}
{% load static %}

{% block styles %}

{% endblock %}

{% block content %}

<!-- PAGE-HEADER -->
<div class="page-header">
    <div>
        <h1 class="page-title">Images</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Apps</li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">OCR</a></li>
            <li class="breadcrumb-item active" aria-current="page">Images</li>
        </ol>
    </div>
</div>
<!-- PAGE-HEADER END -->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body p-4">
                <div class="d-flex align-items-center justify-content-between">
                    <h4 class="m-0">All Images</h4>
                    <div class="btn-list">
                        <a class="btn btn-radius btn-light-light" href="{% url 'compte:ocrs_upload' %}">
                            <i class="fe fe-plus me-2"></i>
                            Add image
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for ocr in ocrs %}
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="example">
                    <div class="row mt-4">
                        <div class="col-md-12 col-xl-4">
                            <div class="thumbnail">
                                <a href="{% url 'compte:ocrs_detail' ocr.pk %}">
                                    <img src="{{ ocr.ocr_img.url }}" alt="{{ ocr.name }}" class="thumbimg">
                                </a>
                                <div class="caption">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h4>{{ ocr.name }}</h4>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="tag">
                                                <span class="tag">{{ ocr.report }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}